img {
  display: block;
  margin: auto;
}

.alert {
  margin-top: 3%;
}

.container button {
  margin-left: 3%;
}

.o {
  background-image: url("../img/o.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.x {
  background-image: url("../img/x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#game {
  height: 400px;
  margin: auto;
  width: 70%;
}

#game td {
  border: 2px solid #000;
}
