form {
  width: 50%;
  margin: auto;
  margin-top: 10%;
}

input, span {
  /*float: right;*/
}

select {
  margin: auto;
  display: block;
}

input[type="submit"] {
  float: none;
  display: block;
  margin: auto;
  margin-top: 25px;
}
