#container {
  position: relative;
  top: 150px;
  width: 70%;
  height: 200px;
  margin: auto;
}

#container > * {
  float: left;
}

textarea {
  resize: none;
}

input {
  position: relative;
  top: 30px;
  margin: 20px;
}
