img {
  display: block;
  margin: auto;
}

table {
  height: 400px;
  margin: auto;
  width: 70%;
}

td {
  border: 2px solid #000;
}

.o {
  background-image: url("../img/o.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.x {
  background-image: url("../img/x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
