@font-face {
  font-family: 'myfont';
  src: url('fonts/DavidLibre-Medium.ttf');
}

@media (max-width: 800px) {

}

* {
  margin: 0px;
  padding: 0px;
  font-family: myfont, verdana;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 16px;
}

header, section, footer aside, nav, article, figure, figcaption, hgroup {
  display: block;
}

.lateral {
  float: left;
  position: fixed;
  top: 0px;
  width: 50%;
  height: 100%;
  z-index: -1;
}

#left {
  left: 0px;
  background: linear-gradient(left, blue 1%, cyan);
  background: -webkit-linear-gradient(left, blue 1%, cyan);
  background: -moz-linear-gradient(left, blue 1%, cyan);
}

#right {
  float: right;
  right: 0px;
  background: linear-gradient(right, blue 1%, cyan);
  background: -webkit-linear-gradient(right, blue 1%, cyan);
  background: -moz-linear-gradient(right, blue 1%, cyan);
}

#agrupar {
  width: 71%;
  margin: 150px auto;
  text-align: left;
  background-color: rgba(202, 217, 244, 0.14);
  background-image: url(fondo_web.jpg);
}

#cabecera {
  background: -webkit-linear-gradient(rgb(105, 208, 25), #fffbb9);
  background: -moz-linear-gradient(rgb(105, 208, 25), #fffbb9);
  border: 1px solid rgba(153, 153, 153, 0.39);
  padding: 20px;
  position: fixed;
  top: 0px;
  width: 68.1%;
  z-index: 1;
}

#menu {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%
  font-size: 1.2rem;
  border: 1px solid #000;
}

#menu li {
  display: inline-block;
  list-style: none;
  padding: 60px 20px;
}

#menu li:hover {
  transition: background-color 1s, box-shadow 1s;
  background-color: rgb(249, 190, 15);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.53);
  cursor: pointer;
}

#seccion {
  width: 70%;
  margin: 20px;
}

#seccion article {
  box-shadow: 10px 10px rgba(255, 0, 0, 0.2);
  border: 1px solid #000;
}

#columna {
  width: 12%;
  margin: 30px 20px;
  padding: 20px;
  background: #cccccc;
  border-radius: 10px;
  position: absolute;
  border: 1px solid #000;
}

#columna * {
  display: block;
  margin: 20px auto;
}

#pie {
  clear: both;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #999999;
  background: #999999;
}

article {
  background: #fffbcc;
  border: 1px solid #999999;
  padding: 20px;
  margin-bottom: 15px;
  text-align: justify;
}

article:nth-child(odd) {
  background: #fffbcc;
}

article:nth-child(even) {
  background: rgb(217, 199, 223);
}

article footer {
  text-align: right;
}

time {
  color: #999999;
}

figcaption {
  font: italic 14px verdana, sans-serif;
}

#columna blockquote {
  text-align: center;
  margin: 10px auto;
}

#stanley {
  width: 100%;
  height: auto;
}

#minion {
  width: 100%;
  height: auto;
}

#jaqen {
  width: 100%;
  height: auto;
}

article div figure {
  float: left;
  padding: 10px;

}

article div {
  display: block;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.left #seccion {
  float: left;
}

.left #columna {
  margin-left: 52%;
}

.right #seccion, #columna {
  float: right;
}

#logo {
  margin-left: 10%;
}

#columna img {
  width: 100%;
  height: auto;
}
